<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EightSortingAlgorithm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F306EA561D4ED90800411C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F306EA6F1D4ED90900411C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F306EA7A1D4ED90900411C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
